  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="top-pattern-layer-dark"></div>
    
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Column-->
                <div class="column col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="logo">
                            <a href="/"><img loading="lazy" src="\public\imagesF\BaradighiLogo.webp" alt="Baradighi The Bungalow Logo"></a>
                        </div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column col-xl-5 col-lg-8 col-md-12 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="widget-title">
                                        <h4>Links</h4>
                                    </div>
                                    <ul class="links">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/public/sitemap.xml">Site Map</a></li>
                                        <li><a href="https://rydaksyndicate.com/">Rydak Syndicate</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="widget-title">
                                        <h4>Contact</h4>
                                    </div>
                                    <ul class="info">
                                        <li class="address">Baradighi Tea Estate, Dooars PO, Jalpaiguri - 735206</li>
                                        <li class="phone"><a href="tel:919147093901">+91 91470 93901</a></li>
                                        <li class="phone"><a href="tel:919674673957">+91 96746 73957</a></li>
                                        <li class="email"><a href="mailto:contact@baradighibungalow.com">contact@baradighibungalow.com</a></li>
                                        <li class="social-links">
                                            <a href="https://www.facebook.com/baradighithebungalow"><span class="fab fa-facebook-f"></span></a>
                                            <a href="https://www.instagram.com/baradighibungalow/"><span class="fab fa-instagram"></span></a>
                                            <a href="https://www.youtube.com/channel/UC7ObIfcIBw2u2CdoUZVoVNA"><span class="fab fa-youtube"></span></a>
                                            <a href="https://wa.me/919147093901/"><span class="fab fa-whatsapp"></span></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <div class="widget-title">
                            <h4>Newsletter</h4>
                        </div>
                        <div class="text">Interested in the Himalayas, Tea Tourism & the Dooars, get our stories here.  </div>
                        <!--Newsletter-->
                        <div class="newsletter-form">
                            <form action="https://market.indraprasthadesign.com//subscribe" method="POST" accept-charset="utf-8">
                                <div class="form-group clearfix">
                                    <input type="email" name="email" id="email" placeholder="Email" required>
                                    <input type="hidden" name="list" value="RAKnrkxUyXEW13yIUHimhw"/>
                                    <input type="hidden" name="subform" value="yes"/>
                                    <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Send Now</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="copyright">Rydak Syndicate Limited &copy; 2022 | Designed By <a href="http://www.indraprasthadesign.com">IDC</a> </div>
                <div class="bottom-links">
                    <a href="/terms">Terms & Conditions</a> &ensp;|&ensp; <a href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    
</footer>


</div>
<!--End pagewrapper--><!--Scroll to top-->

<script src="/public/js/jquery.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery-ui.js"></script>
<script src="/public/js/jquery.fancybox.js"></script>
<script src="/public/js/owl.js"></script>
<script src="/public/js/scrollbar.js"></script>

<script src="/public/js/isotope.js"></script>  
<!-- For Blog Masonry Only  -->

<script src="/public/js/validate.js"></script> 
<!-- For Contact Page Onnly -->

<script src="/public/js/appear.js"></script>
<script src="/public/js/wow.js"></script>
<script src="/public/js/custom-script.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JLPHJ11XL6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JLPHJ11XL6');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159845894-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159845894-1');
</script>

<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "113074530262007");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v14.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '526856995992984');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=526856995992984&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->


<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ere4cnaus2");
</script>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.plakads.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  

</body>
</html>