<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Stylesheets -->
<link href="/public//css/bootstrap.css" rel="stylesheet">
<link href="/public/css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/public/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/public/imagesF/baradighi.jpg" type="image/x-icon">
<link rel="icon" href="/public/imagesF/baradighi.jpg" type="image/x-icon">

<!-- Responsive Settings -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

    <!-- Main Header -->
    <header class="main-header header-style-one">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo"><a href="/" title="Baradighi The Bungalow | Home"><img src="/public/imagesF/BaradighiLogo.webp" alt="Baradighi The Bungalow Logo" title="Baradighi The Bungalow | Home"></a></div>
                </div>
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                     <div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span><span class="txt">Menu</span></div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/rooms">Rooms</a>
                                </li>
                                <li  class="dropdown"><a href="/experience">Experience</a>
                                    <ul>
                                        <li><a href="/amenities">Bungalow Amenities</a></li>
                                        <li><a href="/experience/#beyond">Tea Tourism & Wilds</a></li>
                                        <li><a href="/experience/#gallery">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="/dining">Dining</a></li>
                                <li><a href="https://reservations.hotel-spider.com/034648705d4afda6?">Book Now</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="other-links clearfix">
                    <div class="info">
                        <ul class="clearfix">
                            <li><a href="tel:+919674673957"><span class="icon flaticon-smartphone-2"></span><span class="txt">+91 96746 73957</span></a></li>
                        </ul>
                    </div>
                    <div class="link-box">
                        <a href="/contact" class="theme-btn btn-style-one"><span class="btn-title">Contact Now</span></a>
                    </div>
                </div>

            </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
            <div class="menu-backdrop"></div>
            <div class="nav-logo"><a href="/"><img src="/public/imagesF/BaradighiLogo.webp" alt="Baradighi The Bungalow Logo" title=""></a></div>
            <!-- <div><a href="tel:+919674673957"><span class="icon flaticon-smartphone-2"></span><span class="txt">+91 96746 73957</span></a></div> -->
            <nav class="menu-box">
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
            <div class="nav-bottom">
                <div class="copyright">Rydak Syndicate Limited &copy; 2022</div>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="https://www.facebook.com/baradighithebungalow"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/baradighibungalow/"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="https://wa.me/919674673957"><span class="fab fa-whatsapp"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->