<div class="row clearfix">
    <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
                <div class="image-box">
                    <div class="image-layer" style="background-image: url(/public/imagesF/rooms/douglasSuitCover.webp);"></div>
                    <figure class="image"><img loading="lazy" src="/public/imagesF/rooms/douglasSuitCover.webp" alt="" title=""></figure>
                </div>
                <div class="cap-box">
                    <div class="cap-inner">
                        <div class="price">From <span>₹ 15K</span></div>
                        <h5>Royal Douglas & Malcom Suites</h5>
                    </div>
                </div>
                <div class="hover-box">
                    <div class="hover-inner">
                        <h4>Royal Douglas & Malcom Suites</h4>
                        <div class="pricing clearfix">
                            <div class="price">From <span>₹ 15,000</span></div>
                        </div>

                        <div class="text">These suits offer scenic views of the tea estate and re-define hotel rooms with their royal fittings & spacious 450 Sq. Ft interiors. </div>
                        <div class="link-box"><a href="/rooms/douglas"
                                class="theme-btn btn-style-one"><span class="btn-title">
                                    Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
                <div class="image-box">
                    <div class="image-layer" style="background-image: url(/public/imagesF/rooms/arundallSuitCover.webp);"></div>
                    <figure class="image"><img loading="lazy" src="/public/imagesF/rooms/arundallSuitCover.webp" alt="" title=""></figure>
                </div>
                <div class="cap-box">
                    <div class="cap-inner">
                        <div class="price">From <span>₹ 15k</span></div>
                        <h5>Hunter Arundall Suite</h5>
                    </div>
                </div>
                <div class="hover-box">
                    <div class="hover-inner">
                        <h4>Hunter Arundall Suite</h4>
                        <div class="pricing clearfix">
                            <div class="price">From <span>₹ 15,000</span></div>
                        </div>

                        <div class="text">Legend speaks of the fierce hunter who towered over the estate, now the room is a view point for the Kanchenjunga & the tea estate. </div>
                        <div class="link-box"><a href="/rooms/deluxe"
                                class="theme-btn btn-style-one"><span class="btn-title">
                                    Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="room-block-one height-two wow fadeInUp" data-wow-delay="300ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
                <div class="image-box">
                    <div class="image-layer" style="background-image: url(/public/imagesF/rooms/royalSuitCover.webp);"></div>
                    <figure class="image"><img loading="lazy" src="/public/imagesF/rooms/royalSuitCover.webp" alt="The Bed at our Royal Suit" title="The Bed at our Royal Suit"></figure>
                </div>
                <div class="cap-box">
                    <div class="cap-inner">
                        <div class="price">From <span>₹ 17.5K</span></div>
                        <h5>I.F Morris Suite</h5>
                    </div>
                </div>
                <div class="hover-box">
                    <div class="hover-inner">
                        <h4>I.F Morris Suite</h4>
                        <div class="pricing clearfix">
                            <div class="price">From <span>₹ 17,500</span></div>
                            <div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>

                        <div class="text">The Crown Jewel Of Baradighi & the legacy of the Burra Sahib. This spacious 800 Sq. Ft suit boasts a grand sunrise view overlooking the estate. </div>
                        <div class="link-box"><a href="/rooms/royal"
                                class="theme-btn btn-style-one"><span class="btn-title">
                                    Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="room-block-one height-one wow fadeInUp" data-wow-delay="600ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
                <div class="image-box">
                    <div class="image-layer" style="background-image: url(/public/imagesF/rooms/GeorgeMckinlySuitCover.webp);"></div>
                    <figure class="image"><img loading="lazy" src="/public/imagesF/rooms/GeorgeMckinlySuitCover.webp" alt="" title=""></figure>
                </div>
                <div class="cap-box">
                    <div class="cap-inner">
                        <div class="price">From <span>₹ 15k</span></div>
                        <h5>Tillabari & George Mckinly Suites</h5>
                    </div>
                </div>
                <div class="hover-box">
                    <div class="hover-inner">
                        <h4>Tillabari & George Mckinly Suites</h4>
                        <div class="pricing clearfix">
                            <div class="price">From <span>₹ 15,000</span></div>
                        </div>

                        <div class="text">These luxurious 450 Sq. Ft rooms have a magnificent view of the resort gardens and are easily accessible by being on the ground floor.</div>
                        <div class="link-box"><a href="/rooms/george"
                                class="theme-btn btn-style-one"><span class="btn-title">
                                    Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <div class="inner-box">
                <div class="image-box">
                    <div class="image-layer" style="background-image: url(/public/imagesF/rooms/tempCover.webp);"></div>
                    <figure class="image"><img loading="lazy" src="/public/imagesF/rooms/tempCover.webp" alt="" title=""></figure>
                </div>
                <div class="cap-box">
                    <div class="cap-inner">
                        <div class="price">From <span>₹ 12k</span></div>
                        <h5>Baradighi Wellness Villa</h5>
                    </div>
                </div>
                <div class="hover-box">
                    <div class="hover-inner">
                        <h4>Wellness Villa</h4>
                        <div class="pricing clearfix">
                            <div class="price">From <span>₹ 12,000</span></div>
                        </div>

                        <div class="text">Once host to the honoured guests of the empire, the Wellness Villa is a uber-lux bungalow with two rooms, private kitchen, dining and more.</div>
                        <div class="link-box"><a href="/rooms/villa"
                                class="theme-btn btn-style-one"><span class="btn-title">
                                    Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>