<!--Sidebar Side-->
<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
    <aside class="sidebar blog-sidebar">
        <!--Sidebar Widget-->
        <div class="sidebar-widget search-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="widget-inner">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbaradighithebungalow%2F&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2592112817743876" width="340" height="331" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
        
        <div class="sidebar-widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="widget-inner">
                <div class="sidebar-title">
                    <h4>Latest News</h4>
                </div>

                <div class="post">
                    <figure class="post-thumb"><img src="/public/imagesF/Home/BaradighiAntiques.webp" alt=""></figure>
                    <div class="info">May 21, 2022</div>
                    <h5 class="text"><a target="_blank" href="https://www.outlookindia.com/travel/take-your-pick-from-the-best-darjeelingtea-estate-bungalows-and-homestay-news-197785">The Best North Bengal Tea Estate Bungalows</a></h5>
                </div>

                <div class="post">
                    <figure class="post-thumb"><img src="/public/imagesF/Home/BaradighiAntiques.webp" alt=""></figure>
                    <div class="info">April 18, 2022</div>
                    <h5 class="text"><a href="https://www.travelguru.com/hotels/hotels-in-lataguri/baradighi-the-bungalow">Travel Guru take on Baradighi</a></h5>
                </div>

                <div class="post">
                    <figure class="post-thumb"><img src="/public/imagesF/Home/BaradighiAntiques.webp" alt=""></figure>
                    <div class="info">August 11, 2021</div>
                    <h5 class="text"><a href="https://www.outlookindia.com/outlooktraveller/explore/story/71254/burra-bungalows-of-north-bengal">The Stunning Burra Bungalows Of Tea Estates In Bengal</a></h5>
                </div>

            </div>
        </div>

        <div class="sidebar-widget popular-tags wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="widget-inner">
                <div class="sidebar-title">
                    <h4>Our Social Media</h4>
                </div>
                <ul class="tags-list clearfix">
                    <li><a href="https://www.facebook.com/baradighithebungalow">Facebook</a></li>
                    <li><a href="https://www.instagram.com/baradighibungalow/">Instagram</a></li>
                    <li><a href="https://www.instagram.com/baradighibungalow/">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UC7ObIfcIBw2u2CdoUZVoVNA">YouTube</a></li>
                </ul>
            </div>
        </div>


    </aside>
</div>