<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi The Bungalow | About Us</title>

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(/public/imagesF/about/aboutCover.webp);"></div>
            <div class="banner-bottom-pattern"></div>

            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <h1>About Us</h1>
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <!--Featured Section-->
        <section class="featured-section-three">
            <div class="circles-two">
                <div class="c-1"></div>
                <div class="c-2"></div>
            </div>
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="sec-title">
                                <h2>Baradighi Tea Estate</h2>
                            </div>
                            <div class="text">
                                When the British landed on India’s shores, they knew little of the vast expanse of land
                                they would soon claim and use to produce the Chinese drink they would soon swear by. As
                                it were, the-soon-to-be fantastic discovery of tea would give work to generations,
                                change the landscape of forests in areas like North Bengal forever, and create a titanic
                                industry, and give birth to heritage tea bungalows… All while leaving behind the scenic
                                tea gardens – abodes for seekers of tranquil, and saviours from the hustle of the future
                                metropolis.
                            </div>
                            <div class="text">
                                One such non-chronicled discovery was of Baradighi Tea Estate. Little is known of the
                                first days of this heritage tea house, but collections of recollections from old-timers
                                and archives leave a teasingly incomplete story of the birth of the majestic 600 acres
                                of pastoral and production-induced pompousness.
                            </div>

                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="image-box">
                                <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img
                                        loading="lazy" src="/public/imagesF/about/baradighiEstate.webp"
                                        alt="The Entrance Rock at Baradighi Tea Estate"
                                        title="The Entrance Rock at Baradighi Tea Estate"></figure>
                                <div class="cap wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                                    <span>130+</span> Years of Legacy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Featured Section-->
        <section class="featured-section">
            <div class="pattern-top"></div>
            <span class="dotted-pattern dotted-pattern-3"></span>
            <span class="tri-pattern tri-pattern-3"></span>
            <div class="auto-container">
                <div class="featured-block alternate">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <h3>Rydak Syndicate Limited</h3>
                                <div class="text">
                                    The Baradighi Tea Estate, which has one of the oldest heritage tea bungalows in
                                    Dooars region, came under the ownership of Rydak Syndicate Limited in the 1960s,
                                    which runs the estate to this day.
                                    The company was originally incorporated as Rydak Tea Syndicate Limited on 24th
                                    February, 1898 under the Indian Companies Act. It was registered as Rydak Syndicate
                                    Limited on 24th of September, 1979.
                                    Currently, Rydak Syndicate Limited has six tea estates located both in Assam and in
                                    West Bengal’s Dooars region.
                                    Rydak Syndicate Limited is a member of the Indian Tea Association, National Tea
                                    Research Foundation, Tea Research Association and the Tea Board of India.

                                </div>
                                <div class="link-box">
                                    <a href="https://rydaksyndicate.com/" target="_blank"
                                        class="theme-btn btn-style-one"><span class="btn-title">Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img loading="lazy"
                                                src="/public/imagesF/about/rydakSyndicate.webp"
                                                alt="Tea Pickers Picking Tea at Baradighi Estate"
                                                title="Tea Pickers Picking Tea at Baradighi Estate"></a></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <%- include('partials/footer'); -%>