<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi The Bungalow | Amenities</title>

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(/public/imagesF/dining/cover.webp);"></div>
            <div class="banner-bottom-pattern"></div>

            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <h1>A World Of Wonder</h1>
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="/experience">Experience</a></li>
                                <li class="active">Amenities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <div class="auto-container">
            <div class="sec-title">
                <h2>Amenities & Experiences at Baradighi</h2>
                <div class="lower-text">The amenities and experiences at Baradighi Tea Estate include a sports complex
                    with Golf, Tennis, Badminton, and Basketball, a children's play area with slides and swings, and a
                    room called "Galikamra" which is on the first floor and has board games and antique fittings with
                    views of the gardens. The hotel also has a Spa, with a well-trained ayurvedic therapist who does
                    ayurvedic treatments and massages. In addition, guests can enjoy scenic walks and hikes, bird
                    watching from the Kanchenjunga Deck, a wildlife safari at Gorumara, rafting and boating at the
                    Jaldakha River, cycling and walks in the tea gardens, and evening bonfires with tribal dance
                    performances. Guests can also participate in tea plucking, tasting, and tours of the factory, and
                    enjoy a feast from the organic garden.</div>
            </div>
        </div>

        
        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/neer-jardines-pool.webp);">
                            </div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Beat the heat with North Bengals largest pool</div>
                                    <h3>Fun & Relaxation at the<br>Neer Jardines</h3>
                                    <div class="text">Enjoy a relaxed dip at our resort pool, named Neer Jardines, equipped with a deck, changing rooms and all other amenities to make fun blend with comfort. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/asian-paradise-flycatcher-baradighi.webp);">
                            </div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Malbazzar and Baradighi, a bird water's paradise</span></div>
                                    <h3>Bird Watching at <br>Kanchenjunga Deck</h3>
                                    <div class="text">
                                        Birdwatching is a popular activity at Baradighi Bungalow, with over 200 species
                                        of birds in the surrounding area. The Kanchenjunga Deck, located on the first
                                        floor of the bungalow, serves as an ideal vantage point for birdwatching. One
                                        can also visit nearby spots.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/guest-going-to-gorumara-safari.webp);">
                            </div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Early morning safaris to forest reserves</div>
                                    <h3>Wildlife Safari at<br>Gorumara & More</h3>
                                    <div class="text">Experience the thrill of a lifetime on our wildlife safari at
                                        Gorumara National Park, home to Bengal tigers, Indian rhinos, and more. Book
                                        your safari today and witness the beauty of nature up close.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Fluid Section-->
        <section class="fluid-section">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/jaldalha-river-picnic.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Rafting, Boating and more</div>
                                    <h3>Waterfront actives at <br>Jaldakha River</h3>
                                    <div class="text">The Jaldakha River is a thrilling destination for adventure
                                        seekers, offering activities such as rafting and boating. Experience the thrill
                                        of navigating the white-capped waves and taking in the stunning surroundings.
                                        Whether you're a seasoned pro or a first-timer, the Jaldakha River, only minutes
                                        away from Baradighi has something for everyone.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/cycling-at-baradighi.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Explore the massive estate</div>
                                    <h3>Cycling & Walks<br>in the Tea Gardens</h3>
                                    <div class="text">Experience the beauty of nature on a bike ride through the
                                        stunning tea gardens at Baradighi Bungalow. Take in the breathtaking views and
                                        immerse yourself in the tranquility of the surroundings as you explore the
                                        property on two wheels. Our dedicated cycle trail and quality mountain bikes
                                        make it the perfect activity for all ages and abilities.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Fluid Section-->
        <section class="fluid-section">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/tennis-court-baradighi.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Get active with loads of fun</span></div>
                                    <h3>Tennis, Golf, Badminton, <br>Basket Ball & More</h3>
                                    <div class="text">Experience the thrill of playing a round of golf, hitting some
                                        balls on the tennis court, or scoring a basket on our basketball court. The
                                        sports complex at Baradighi also includes badminton and a children's play area
                                        with slides and swings. Come have some fun and stay active during your stay with
                                        us.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/baradighi-galikamra.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Boardgames, Books & Views</span></div>
                                    <h3>The homely serenity of <br>Galikamra</h3>
                                    <div class="text">The Galikamra is a beautiful room on the first floor of Baradighi
                                        The Bungalow, filled with antique fittings and board games. With stunning views
                                        of the gardens, it's the perfect spot to relax and unwind. Spend an afternoon
                                        playing games or simply enjoying the peaceful surroundings.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Fluid Section-->
        <section class="fluid-section">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/tribal-dance-baradighi.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Rejoice the winter evening</span></div>
                                    <h3>Tribal Dance &<br>Evening Bonfires</h3>
                                    <div class="text">Experience the rich culture and traditions of the local tribes
                                        through captivating dance performances around the bonfire at Baradighi Bungalow.
                                        Perfect for a memorable evening of entertainment and bonding with loved ones.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/tea-tasting-baradighi.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">A guided tour in the world of Tea</span></div>
                                    <h3>Tea Plucking, Tasting &<br>Tours</h3>
                                    <div class="text">Experience the tea process from plucking to tasting and take a
                                        tour of our factory. Learn about the history and production of tea at Baradighi
                                        Bungalow.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Fluid Section-->
        <section class="fluid-section">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/baradighi-organic-garden.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">Pluck your meal from the grand organic garden</span></div>
                                    <h3>Feast from the <br>Organic Garden </h3>
                                    <div class="text">Experience the freshest flavors from our organic garden, where
                                        every meal is a celebration of locally-grown ingredients. From morning tea to
                                        dinner, our chefs create delicious dishes that showcase the best of the season.
                                        Take a tour of our garden and learn about sustainable agriculture, or join us
                                        for a tea plucking and tasting session to discover the secrets of crafting the
                                        perfect cup</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fluid Section-->
        <section class="fluid-section alternate">
            <div class="outer-container clearfix">
                <div class="row clearfix">
                    <div class="image-column col-lg-6 col-md-12">
                        <div class="inner">
                            <div class="image-layer"
                                style="background-image: url(/public/imagesF/amenities/baradighi-trail.webp);"></div>
                        </div>
                    </div>
                    <div class="text-column clearfix col-lg-6 col-md-12">
                        <div class="circles">
                            <div class="c-1"></div>
                            <div class="c-2"></div>
                        </div>
                        <div class="inner">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="price">The uniques of Baradighi</span></div>
                                    <h3>Tea Nursery, School <br>Visit & Graffiti</h3>
                                    <div class="text">Visit the local school or the Tea Nursery at the Estate, on the
                                        theme of getting younger, pick up a spray can and draw the walls like the child
                                        in you.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <%- include('partials/footer'); -%>