<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blogs & Events | Baradighi The Bungalow</title>

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(/public/imagesF/blog/cover.webp);"></div>
            <div class="banner-bottom-pattern"></div>

            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <h1>Stories & Events</h1>
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <div class="sidebar-page-container">
            <div class="circles-two">
                <div class="c-1"></div>
                <div class="c-2"></div>
            </div>
            <span class="dotted-pattern dotted-pattern-5"></span>
            <span class="tri-pattern tri-pattern-8"></span>

            <div class="auto-container">
                <div class="row clearfix">

                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="blog-content">

                            <!--News Block-->
                            <div class="news-block-four wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="blog-single.html"><img
                                                    src="/public/images/resource/news-image-16.jpg" alt="" title=""></a>
                                        </figure>
                                    </div>
                                    <div class="lower-box">
                                        <div class="date"><span class="day">02</span>Sep</div>
                                        <div class="post-meta">
                                            <ul class="clearfix">
                                                <li><a href="#"><span>Sara dodly</span></a></li>
                                                <li><a href="#"><span>03 Comments</span></a></li>
                                                <li><a href="#"><span>Travel</span></a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="blog-single.html">Disclosing the Secrets of Success in Hotera.</a>
                                        </h3>
                                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                                            eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quis
                                            nostrud exercitation ullamco laboris nisi aliquip ex ea commodo consequat.
                                        </div>
                                        <div class="link-box">
                                            <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Pagination-->
                        <!-- <div class="pagination-box">
                        <ul class="styled-pagination">
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" class="next"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div> -->

                    </div>

                    <%- include('partials/sidebar'); -%>

                </div>
            </div>
        </div>


        <%- include('partials/footer'); -%>