<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi The Bungalow | Dining</title>
    <meta property="og:title" content="Baradighi The Bungalow | Dining">
    <meta property="og:description"
        content="Discover the unique blend of heritage & nature at Baradighi - The Bungalow. Stay in a boutique hotel & relish delectable cuisine in the Himalayan Foothills of Dooars.">
    <meta property="og:image" content="https://baradighibungalow.com/public/imagesF/Home/BaradighiLiving.webp">
    <meta property="og:url" content="https://baradighibungalow.com/dining">
    <meta property="og:type" content="website">

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(/public/imagesF/dining/cover.webp);"></div>
            <div class="banner-bottom-pattern"></div>

            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <h1>Our Restaurant</h1>
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">Restaurant</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <!--Featured Section-->
        <section class="featured-section-five alt-padd">
            <span class="dotted-pattern dotted-pattern-10"></span>
            <div class="circles-two">
                <div class="c-1"></div>
                <div class="c-2"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>Dine like Royalty <br>Amidst the wilds.</h2>
                    <div class="lower-text">The food at Baradighi is grown organically in our greenhouse and prepared
                        masterfully by veteran chefs. Served in the grand tea-estate style, experience what life is for
                        the Bara Sahib with every bite at Baradighi.</div>
                </div>
                <div class="row clearfix">
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Something for the kids</div>
                                    <h5>Kids Menu</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/kids" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price"> Healthy. Hearty. Delicious</div>
                                    <h5>Soups</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/soups" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="/public/images/resource/featured-image-51.jpg"
                                            alt="" title=""></a></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Detox organically</div>
                                    <h5>Salads</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/salads" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Fresh and flavorful </div>
                                    <h5>Pizza</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/pizza" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="/public/images/resource/featured-image-51.jpg"
                                            alt="" title=""></a></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From classic to creative</div>
                                    <h5>Sandwich & Wraps</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/Sandwich" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Made with love</div>
                                    <h5>Pasta</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/pasta" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Tastebud Tantelizers</div>
                                    <h5>Stimulate The Appetite</h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/stimulate" class="over-link"></a>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">Authentic Flavors of Bengal</div>
                                    <h5>Taste Of Regional Cuisine</h5>
                                </div>
                            </div>
                            <a href="/dining/regional" class="over-link"></a>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="featured-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
                        data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">A Pack of Punch</div>
                                    <h5>Mocktails </h5>
                                </div>
                            </div>
                        </div>
                        <a href="/dining/mocktails" class="over-link"></a>
                    </div>


                </div>
            </div>
        </section>

        <!--Gallery Section-->
        <section class="gallery-section" id="gallery">
            <span class="dotted-pattern dotted-pattern-3"></span>
            <span class="tri-pattern tri-pattern-3"></span>
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Our Gallery</h2>
                    <div class="lower-text">Check out some of the glimpses of what it means to visit Baradighi, where
                        every visit is a story.</div>
                </div>
            </div>
            <div class="carousel-box">
                <div class="gallery-carousel owl-theme owl-carousel">
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food1.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food1.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food2.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food2.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food3.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food3.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food4.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food4.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food5.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food5.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food6.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food6.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food7.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food7.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food8.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food8.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food9.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food9.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/dining/gallery/food10.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/dining/gallery/main/food10.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>W



        <%- include('partials/footer'); -%>