<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi The Bungalow | Experience</title>

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="banner-section banner-two">

            <div class="banner-carousel owl-theme owl-carousel">
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/experience/BungalowOne.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Nestled in<br>The Heart Of Dooars</h1>
                                    <div class="text">Experience the Finest of Tea Tourism in Dooars</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/experience/EstateWork.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Welcome to <br>Baradighi The Bungalow</h1>
                                    <div class="text">Built amongst a sprawling 507 hectare tea plantation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/experience/BungalowTwo.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Experience Legacy as<br>Every Visit is a Story</h1>
                                    <div class="text">Blissful mix of outdoor fun and indoor relaxation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--End Banner Section -->

        <!--Featured Section-->
        <section class="featured-section-two">
            <div class="pattern-bottom"></div>
            <span class="dotted-pattern dotted-pattern-5"></span>
            <span class="tri-pattern tri-pattern-4"></span>
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-xl-4 col-lg-12 col-sm-12">
                        <div class="inner">
                            <div class="sec-title">
                                <h2>Every Visit is a Story</h2>
                            </div>
                            <div class="text">When the British landed on India’s shores, they knew little of the vast
                                expanse of land they would soon claim and use to produce the Chinese drink they would
                                soon swear by. As it were, the-soon-to-be fantastic discovery of tea would give work to
                                generations, change the landscape of forests in areas like North Bengal forever, and
                                create a titanic industry, and give birth to heritage tea bungalows… All while leaving
                                behind the scenic tea gardens – abodes for seekers of tranquil, and saviours from the
                                hustle of the future metropolis.</div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-xl-8 col-lg-12 col-sm-12">
                        <div class="inner">
                            <span class="dotted-pattern dotted-pattern-2"></span>
                            <div class="row clearfix">
                                <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                                    data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="/public/imagesF/experience/Barbeque.webp"
                                                    alt="" title=""></a></figure>
                                    </div>
                                </div>
                                <div class="image-block col-lg-6 col-md-6 col-sm-12 wow fadeInDown" data-wow-delay="0ms"
                                    data-wow-duration="1500ms">
                                    <div class="image-box">
                                        <figure class="image"><img src="/public/imagesF/experience/Food.webp" alt="" title="">
                                        </figure>
                                        <div class="cap"><span class="txt">130+ <br>Years <br>of <br>Stories</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Why Section-->
        <section class="why-us-section" id="amenities">
            <span class="dotted-pattern dotted-pattern-6"></span>
            <span class="tri-pattern tri-pattern-5"></span>
            <div class="circles">
                <div class="c-1"></div>
                <div class="c-2"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>Amenities & Experiences</h2>
                    <div class="lower-text">At Baradighi – The Bungalow, experience the little pleasures of life amidst
                        the enrapturing nature. Get a taste of the beautiful scenery as you stroll amidst the tea
                        gardens, or go camping by the river side under a starry blanket of nightfall.</div>
                </div>
                <div class="row clearfix">
                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-wine"></span>
                            </div>
                            <h4>Kitchen Garden</h4>
                            <div class="text">Most of the food served at Baradighi is grown, organically in our Kitchen
                                Garden. Plant a tree in your name, or pick your choice for a scrumptious meal.</div>
                        </div>
                    </div>

                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-aromatherapy"></span>
                            </div>
                            <h4>Guide & Library</h4>
                            <div class="text">Timeless books are an ideal retreat for hours of tales in the middle of my
                                best solitary
                                moments, and a personal guide at all times, for secretes beyond words.</div>
                        </div>
                    </div>

                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-swimming-pool-1"></span>
                            </div>
                            <h4>Riverside Activities</h4>
                            <div class="text">A riverside camping arrangement can be set up, with tents for 6 people on
                                a wooden deck or open tents or deck chairs, facing the river. Rafting may also be
                                arranged.</div>
                        </div>
                    </div>

                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-conference"></span>
                            </div>
                            <h4>Banquet Hall</h4>
                            <div class="text">Accommodating 30 people, our modern boardroom is ideal for those willing
                                to combine
                                business with leisure or for a homely reception party.</div>
                        </div>
                    </div>

                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-modem"></span>
                            </div>
                            <h4>Wi-Fi & Connectivity</h4>
                            <div class="text">Experience the recluse of Dooars with the connectivity of an Urban City,
                                enjoy all modern amenities with a heritage charm at Baradighi - The Bungalow. </div>
                        </div>
                    </div>

                    <!--Feature Box-->
                    <div class="feature-box col-xl-4 col-lg-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="circle"></span>
                                <span class="flaticon-cardio"></span>
                            </div>
                            <h4>Sports Facilities</h4>
                            <div class="text">A well-equipped sports complex within the bungalow premises that allows
                                you a
                                day of Table Tennis, Badminton, Carom, Chess & Archery.</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--News Section-->
        <section class="news-section-two" id="beyond">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>Beyond The <br>Bungalow</h2>
                    <div class="lower-text">Nature has blessed Baradighi with its best gift. Explore the parks, museums
                        and estates around Baradighi.</div>
                </div>
                <div class="masonry-container row clearfix">
                    <!--News Block-->
                    <div class="news-block masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/experience/points-near-baradighi"><img
                                            src="/public/imagesF/experience/GorumaraJungleSafari.webp"
                                            alt="Gurumara Jungle Trek" title=""></a></figure>
                            </div>
                            <h4><a href="/experience/points-near-baradighi">National Parks & Monuments nearby</a></h4>
                            <div class="link-box">
                                <a href="/experience/points-near-baradighi"><span
                                        class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                    <!--News Block-->
                    <div class="news-block-two masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="quote-box">
                                <div class="text">Know more about how Baradighi The Bungalow came into being</div>
                                <div class="info">Learn More</div>
                                <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                            </div>
                            <a href="/experience/baradighi-the-bungalow-genesis" class="overlink"></a>
                        </div>
                    </div>
                    <!--News Block-->
                    <div class="news-block masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/experience/baradighi-tea-estate"><img
                                            src="/public/imagesF/experience/BaradighiGazebo.webp" alt="" title=""></a></figure>
                            </div>
                            <h4><a href="/experience/baradighi-tea-estate">Baradighi Tea Estate, a world in itself</a>
                            </h4>
                            <div class="link-box">
                                <a href="/experience/baradighi-tea-estate"><span
                                        class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                    <!--News Block-->
                    <div class="news-block masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="/amenities"><img
                                            src="/public/imagesF/experience/BaradighiAmenitiesFireplace.webp" alt=""
                                            title=""></a></figure>
                            </div>
                            <h4><a href="/amenities">Explore the amenities at Baradighi</a></h4>
                            <div class="link-box">
                                <a href="/amenities"><span class="icon flaticon-arrows-10"></span>Read More</a>
                            </div>
                        </div>
                    </div>
                    <!--News Block-->
                    <div class="news-block-three masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="quote-box">
                                <div class="icon"><span class="flaticon-link-3"></span></div>
                                <h4>The Flora & Fauna Of Dooars.</h4>
                            </div>
                            <a href="/experience/baradighi-flora-fauna" class="overlink"></a>
                        </div>
                    </div>
                    <!--News Block-->
                    <div class="news-block-two masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="quote-box">
                                <div class="text">Frequently Asked Questions Of Baradighi</div>
                                <div class="info">Learn More</div>
                                <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                            </div>
                            <a href="blog-single.html" class="overlink"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Gallery Section-->
        <section class="gallery-section" id="gallery">
            <span class="dotted-pattern dotted-pattern-3"></span>
            <span class="tri-pattern tri-pattern-3"></span>
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Our Gallery</h2>
                    <div class="lower-text">Check out some of the glimpses of what it means to visit Baradighi, where
                        every visit is a story.</div>
                </div>
            </div>
            <div class="carousel-box">
                <div class="gallery-carousel owl-theme owl-carousel">
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/1.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/1.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/2.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/2.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/3.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/3.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/4.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/4.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/5.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/5.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/6.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/6.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/7.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/7.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="/public/imagesF/experience/gallery/8.webp" alt="" title="">
                                </div>
                                <a href="/public/imagesF/experience/gallery/main/8.webp" class="overlink lightbox-image"
                                    data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer'); -%>