<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi The Bungalow | Experience</title>

<%- include('partials/header'); -%>
   <!-- Banner Section -->
   <section class="page-banner">
    <div class="image-layer" style="background-image:url(/public/images/background/banner-image-2.jpg);"></div>
    <div class="banner-bottom-pattern"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Gallery Grid</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">Gallery Grid</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!--Gallery Section-->
<section class="gallery-section-two">
    <div class="auto-container">
        <!--Mixit Galery-->
        <div class="mixit-gallery filter-gallery">
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter="all">All</li>
                    <li class="filter" data-role="button" data-filter=".special">Special</li>
                    <li class="filter" data-role="button" data-filter=".luxury">Luxury</li>
                    <li class="filter" data-role="button" data-filter=".family">Family</li>
                    <li class="filter" data-role="button" data-filter=".fitness">Fitness & Spa</li>
                    <li class="filter" data-role="button" data-filter=".activity">Activities</li>
                </ul>                     
            </div>

            <div class="filter-list row clearfix">
                <!--Item-->
                <div class="gallery-item mix all fitness col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/13.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/13.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item mix all special activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/14.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/14.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item mix all special luxury col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/15.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/15.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item mix all special luxury family fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/16.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/16.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item mix all special fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/17.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/17.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="gallery-item mix all special luxury family fitness activity col-lg-4 col-md-6 col-sm-12">
                    <div class="gallery-block wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/gallery/18.jpg" alt="" title="">
                            </div>
                            <a href="images/gallery/18.jpg" class="overlink lightbox-image" data-fancybox="gallery-1"><span class="icon flaticon-cross"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<%- include('partials/footer'); -%>