<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baradighi - The Bungalow | Every Visit is a Story</title>
    <meta name="description" content="Discover the blend of heritage & nature at Baradighi The Bungalow. Stay in a boutique hotel & relish delectable cuisine in the Himalayan Foothills of Dooars.">

    <meta property="og:title" content="Baradighi - The Bungalow | Heart Of Dooars">
    <meta property="og:description" content="Discover the unique blend of heritage & nature at Baradighi - The Bungalow. Stay in a boutique hotel & relish delectable cuisine in the Himalayan Foothills of Dooars.">
    <meta property="og:image" content="https://baradighithebungalow.com/public/imagesF/Home/BaradighiLiving.webp">
    <meta property="og:url" content="https://baradighithebungalow.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Baradighi - The Bungalow | Heart Of Dooars">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@baradighiresort">
    <meta name="twitter:creator" content="@baradighiresort">
    <meta name="twitter:title" content="Baradighi - The Bungalow | Heart Of Dooars">
    <meta name="twitter:description" content="Discover the unique blend of heritage & nature at Baradighi - The Bungalow. Stay in a boutique hotel & relish delectable cuisine in the Himalayan Foothills of Dooars.">
    <meta name="twitter:image" content="https://baradighithebungalow.com/public/imagesF/Home/BaradighiLiving.webp">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Resort",
          "name": "Baradighi The Bungalow",
          "image": "https://baradighithebungalow.com/public/imagesF/Home/BaradighiDining.webp",
          "@id": "https://baradighithebungalow.com/",
          "url": "https://baradighithebungalow.com/",
          "telephone": "+919147093901",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Baradighi Tea Estate, Dooars PO",
            "addressLocality": "Jalpaiguri",
            "postalCode": "735206",
            "addressCountry": "IN"
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": 26.794528144405124,
            "longitude": 88.77810265322205
          },
          "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "opens": "00:00",
            "closes": "23:59"
          },
          "sameAs": [
            "https://www.facebook.com/baradighithebungalow",
            "https://twitter.com/baradighiresort",
            "https://www.youtube.com/channel/UC7ObIfcIBw2u2CdoUZVoVNA",
            "https://www.instagram.com/baradighibungalow/"
          ],
          "department": [{
            "@type": "Restaurant",
            "name": "Baradighi Restaurant",
            "image": "https://baradighithebungalow.com/public/imagesF/experience/gallery/main/5.webp",
            "telephone": "+919002068904" 
          },{
            "@type": "DaySpa",
            "name": "Baradighi Spa",
            "image": "https://baradighithebungalow.com/public/imagesF/experience/gallery/main/4.webp",
            "telephone": "+919002068904" 
          }]
        }
        </script>

    <%- include('partials/header'); -%>

        <!-- Banner Section -->
        <section class="banner-section banner-four">
            <div class="banner-bottom-pattern"></div>

            <div class="banner-carousel owl-theme owl-carousel">
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/BaradighiTeaEstate.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Escape to Luxury <br>amongst the wilds</h1>
                                    <div class="text">The leading luxury wildlife resort of Dooars, discover nature like never
                                        before.</div>
                                    <div class="link-box">
                                        <a href="/amenities" class="theme-btn btn-style-two"><span
                                                class="btn-title">See Amenities</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/NeerJardines.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Unparalleled luxury <br>with vintage craft</h1>
                                    <div class="text">Neer Jardines is the largest resort pool of North Bengal.</div>
                                    <div class="link-box">
                                        <a href="/amenities" class="theme-btn btn-style-two"><span
                                                class="btn-title">The Amenities</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/BaradighiDining.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Grandeur Of Tea <br>Spoils Of Tourism</h1>
                                    <div class="text">The Bungalow is a majestic property spread over 507 hectares of
                                        tea plantations.</div>
                                    <div class="link-box">
                                        <a href="/experience" class="theme-btn btn-style-two"><span
                                                class="btn-title">The Experience</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/BaradighiLiving.webp);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <h1>Uncover Stories <br>Of Old English Tunes</h1>
                                    <div class="text">Established in 1891, this Heritage Property holds tales of eras
                                        unknown.</div>
                                    <div class="link-box">
                                        <a href="/dining" class="theme-btn btn-style-two"><span
                                                class="btn-title">The Cuisine</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </section>
        <!--End Banner Section -->

        <!--Featured Section-->
        <section class="featured-section-four">
            <span class="dotted-pattern dotted-pattern-11"></span>
            <div class="circles-two">
                <div class="c-1"></div>
                <div class="c-2"></div>
            </div>
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="sec-title">
                                <h2>The iconic Heritage Tea Resort in Dooars</h2>
                            </div>
                            <div class="text justify-text">Immerse yourself in the elegance of the past century at Baradighi – The Bungalow.
                                This forest bungalow in Dooars is a true emblem of reminiscence, with its stone flooring covered in rich
                                carpets, vintage sofa sets in the entrance portico, and living quarters boasting of fireplaces, king-size
                                teak beds, luxurious dressing rooms, connected bath tubs, and antique lighting.
                            </div>
                            <div class="text justify-text">The rooms are filled with old-world charm, featuring hat racks, coat hangers,
                                double-doors with netted doors, and ancient telephones. Furniture, artifacts, fireplaces, and wall linings
                                are all well-preserved, offering a truly nostalgic experience.</div>
                            <div class="text justify-text"> Hidden in the lush greenery of Dooars Valley, Baradighi – The Bungalow spans 507
                                hectares of tea plantations, producing some of the region’s most prized teas known for their rich pedigree
                                among buyers and drinkers.
                            </div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <span class="dotted-pattern dotted-pattern-10"></span>
                            <div class="image-box clearfix">
                                <figure class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img loading="lazy"
                                        src="/public/imagesF/Home/WellnessVilla.webp" alt="The Corridors Of Baradighi"
                                        title="The Corridors Of Baradighi"></figure>
                                <figure class="image wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <img loading="lazy" src="/public/imagesF/Home/BaradighiBalcony.webp" 
                                        alt="The antique furniture dotted around Baradighi"
                                        title="The antique furniture dotted around Baradighi">
                                </figure>
                                <figure class="image wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <img loading="lazy" src="/public/imagesF/Home/BaradighiHalls.webp" alt="The Halls Of Baradighi"
                                        title="The Halls Of Baradighi">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Offers Section-->
        <section class="offers-section-one">
            <div class="auto-container">

                <div class="upper-box clearfix">
                    <div class="sec-title">
                        <h2>Forests, Luxury & So Much More</h2>
                        <div class="lower-text justify-text">Adjacent to some of the most renowned national parks and wildlife sanctuaries in
                            the region, Baradighi offers a unique opportunity to immerse yourself in the wild and seek an unforgettable
                            adventure. The lush forests surrounding the property are home to a diverse range of flora and fauna, and a jungle
                            safari into these lands is an experience like no other. </div>
                    </div>
                    <div class="link-box">
                        <a href="/amenities" class="theme-btn btn-style-one"><span class="btn-title">Things To Do
                                </span></a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="offers-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="offer-block">
                                <div class="offer-inner">
                                    <div class="fact-thumb wow zoomInStable" data-wow-delay="0ms"
                                        data-wow-duration="1500ms">
                                        <div class="image"><img loading="lazy" src="/public/imagesF/Home/BaradighiTiger.webp"
                                                alt="Flora & Fauna of Dooars" title="Flora & Fauna of Dooars">
                                        </div><span></span>
                                    </div>
                                    <h4>#BaradighiWilds</h4>
                                    <div class="text justify-text">Mere minutes away from destinations like the <strong>Gorumara
                                            National Park, Buxa Tiger Reserve</strong> & the <strong>Chapramari Wildlife
                                            Sanctuary</strong></div>
                                    <a href="/experience/points-near-baradighi" class="over-link"></a>
                                </div>
                            </div>
                            <div class="offer-block">
                                <div class="offer-inner">
                                    <div class="fact-thumb wow zoomInStable" data-wow-delay="300ms"
                                        data-wow-duration="1500ms">
                                        <div class="image"><img loading="lazy" src="/public/imagesF/Home/BaradighiTeaLogo.webp"
                                                alt="Thumbnail Of Baradighi Tea Estate"
                                                title="Thumbnail Of Baradighi Tea Estate">
                                        </div><span></span>
                                    </div>
                                    <h4>#BaradighiTeas</h4>
                                    <div class="text justify-text">Nestled in the 507 Hectares of our Baradighi Tea Estate, wake to
                                        the aromas of coveted brews.</div>
                                    <a href="/experience/baradighi-tea-estate" class="over-link"></a>
                                </div>
                            </div>
                            <div class="offer-block">
                                <div class="offer-inner">
                                    <div class="fact-thumb wow zoomInStable" data-wow-delay="600ms"
                                        data-wow-duration="1500ms">
                                        <div class="image"><img loading="lazy" src="/public/imagesF/Home/BaradighiAntiques.webp"
                                                alt="Old Antiques at Baradighi" title="Old Antiques at Baradighi">
                                        </div><span></span>
                                    </div>
                                    <h4>#TalesOfPast</h4>
                                    <div class="text justify-text">Established in 1819, the estate is a Heritage Property with
                                        stories & traditions spanning a century</div>
                                    <a href="/experience/baradighi-the-bungalow-genesis" class="over-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="images-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <span class="dotted-pattern dotted-pattern-4"></span>
                            <div class="images">
                                <div class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img loading="lazy"
                                        src="/public/imagesF/Home/DooarsBirds.webp" alt="" title=""></div>
                                <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img loading="lazy"
                                        src="/public/imagesF/Home/GorumaraTours.webp"
                                        alt="Guests of Baradighi at their Gorumara Tour"
                                        title="Guests of Baradighi at their Gorumara Tour"></div>
                                <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img loading="lazy"
                                        src="/public/imagesF/Home/BaradighiMap.webp"
                                        alt="The Hand drawn Map Of Baradighi Tea Estate"
                                        title="The Hand drawn Map Of Baradighi Tea Estate"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!--Video Section-->
        <section class="video-section">
            <div class="image-layer" style="background-image: url(/public/imagesF/Home/BaradighiTeaEstate1.webp);"></div>
            <div class="auto-container">
                <div class="content-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="2000ms">
                    <h2>See The Experience Before You Feel it.</h2>
                    <div class="play-link"><a href="https://youtu.be/8TTFPk1JqUI" class="lightbox-image"><span
                                class="icon flaticon-play-button-3"></span></a></div>
                </div>
            </div>
        </section>


        <!--Rooms Section-->
        <section class="rooms-section-one">
            <div class="outer-container">
                <div class="auto-container">
                    <div class="sec-title centered">
                        <h2>Rooms & Suites</h2>
                        <div class="lower-text">Each of our suites are designed to give our guests a taste of the
                            English sophistication with king-sized beds made of teak and accompanied by antique
                            furniture and elegant lighting.
                            From the furniture, decor to even the name, everything is on theme.
                        </div>
                    </div>
                </div>

                <%- include('partials/roomsDisplay'); -%>

            </div>
        </section>



        <!--Featured Section-->
        <section class="featured-section">
            <div class="pattern-top"></div>
            <span class="dotted-pattern dotted-pattern-3"></span>
            <span class="tri-pattern tri-pattern-3"></span>
            <div class="auto-container">
                <div class="featured-block">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <h3>Stories & Events from Baradighi</h3>
                                <div class="text justify-text">Discover the rich culture, heritage and natural beauty of Baradighi through our blog. Immerse yourself
                                    in the stories of the local people, their history and captivating legends. Learn about the unique events that take
                                    place in the area, from vibrant festivals to historic celebrations. Explore the many breathtaking sights to visit,
                                    including serene forests, pristine beaches and rolling hills.</div>
                                <div class="link-box">
                                    <a href="/blog" class="theme-btn btn-style-one"><span class="btn-title">Read
                                            More</span></a>
                                </div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <figure class="image"><a href="/blog"><img loading="lazy" src="/public/imagesF/Home/BungalowActivities.webp"
                                                alt="Tribal Dance at Baradighi The Bungalows" title="Tribal Dance at Baradighi The Bungalows"></a></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-block alternate">
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <h3>Mouthwatering delicacies within the resort</h3>
                                <div class="text justify-text">Our restaurant offers a welcoming atmosphere and a menu that combines classic dishes with contemporary twists. Our chefs use the freshest, locally sourced ingredients to create flavors that are truly unique to the region.</div>
                                <div class="link-box">
                                    <a href="/dining" class="theme-btn btn-style-one"><span
                                            class="btn-title">Discover Now</span></a>
                                </div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box">
                                    <figure class="image"><a href="/dining"><img loading="lazy" src="/public/imagesF/Home/TeaTourism.webp"
                                                alt="Baradighi Tea Estate - Tea Plantations" title="Baradighi Tea Estate - Tea Plantations"></a></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!--Offers Section-->
    <section class="offers-section-two">

        <div class="bg-carousel-box">
            <div class="default-carousel owl-theme owl-carousel">
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/SummerFlush.webp);"></div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/MonsoonFlush.webp);"></div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url(/public/imagesF/Home/ThirdFlush.webp);"></div>
                </div>
            </div>
        </div>

        <div class="auto-container clearfix">
            <div class="carousel-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="circles">
                    <div class="c-1"></div>
                    <div class="c-2"></div>
                </div>
                <div class="single-item-carousel owl-theme owl-carousel">
                    <div class="slide-item">
                        <div class="inner">
                            <div class="price">(March - May)</span></div>
                            <h3>Summer Package: First Flush</h3>
                            <div class="text">Take a trip to the river to experience the cool comforts of Kalimpong, Darjeeling or
                                Sikkim and returning each night to the legacy at Baradighi Tea Estate.</div>
                            <ul class="features">
                                <li>River Rafting & Picnic.</li>
                                <li>Cycling & Archery</li>
                                <li>Tribal Dance & Factory Visit</li>
                            </ul>
                            <div class="link-box"><a href="/contact" class="theme-btn btn-style-one"><span class="btn-title">Get Offer</span></a></div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="inner">
                            <div class="price">(June - August)</span></div>
                            <h3>Monsoon Package: Rain Flush</h3>
                            <div class="text">Play games in the rain, get drenched in fun, visit to the factory and make your own
                                aromas – Get addicted to the authentic tea at my tea estate and enjoy the gazebo tea
                                and cards. Nurture your poetic self at my heritage 80-yr old writing desk - As it rains
                                around you, nourish the radiant bougainvilleas in mute natural liaison. When the rains
                                ood their banks, the adventurous can enjoy their day on boat rides around the roads!</div>
                            <ul class="features">
                                <li>Tribal Dance & Factory Visit</li>
                                <li>Cycling & Archery</li>
                                <li>Football tournament</li>
                            </ul>
                            <div class="link-box"><a href="/contact" class="theme-btn btn-style-one"><span class="btn-title">Get Offer</span></a></div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="inner">
                            <div class="price">(September - February)</span></div>
                            <h3>Winter Package: Third Flush</h3>
                            <div class="text">Come 7 p.m the vast expanses of green plunge into enveloping darkness. As we make
                                the sky lanterns create a halo around distant bushes, drive through a magical garden
                                with star light and distant specks of light dotting the penetrable darkness. Release
                                your own sky lanterns and make your own winter-time metaphors.</div>
                            <ul class="features">
                                <li>Trekking & Riverside Picnic</li>
                                <li>Tribal Dance & Bonfire</li>
                                <li>Visit to nearby museums</li>
                            </ul>
                            <div class="link-box"><a href="/contact" class="theme-btn btn-style-one"><span class="btn-title">Get Offer</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



        <!--Testimonials Section-->
        <section class="testimonials-section">
            <span class="dotted-pattern dotted-pattern-3"></span>
            <span class="tri-pattern tri-pattern-2"></span>
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>What People Say?</h2>
                    <div class="lower-text">The Bungalow has hosted its best. Legend has it that the Viceroy of India was resident there in 1945. He was on his way to Darjeeling when the servants in his entourage heard of the beauty of the tea estates in Dooars.</div>
                </div>

                <div class="carousel-box">
                    <div class="testimonial-carousel owl-theme owl-carousel">
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">I am staying here at Baradighi Bungalow for two days and I want to say for the Hospitality, Staff, Environment, Kitchen, Food, Cleanliness & Greenery- Thank you Baradighi for all these.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/PankajTripathi.jpg" alt="Pankaj Tripathi"></div>
                                    <div class="name">Pankaj Tripathi</div>
                                    <div class="designation">Actor</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">A beautiful mini vacation that I enjoyed thoroughly. I could easily connect with my team in Mumbai here and I loved my favorite Bengali cuisine and enjoyed the beauty here.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/ShoojitSarkar.jpg" alt="Shoojit Sircar"></div>
                                    <div class="name">Shoojit Sircar</div>
                                    <div class="designation">Director</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">We had an excellent stay! One of the best trips of my life!!! I would particularly like to give Kudos to the staff, management for their hospitality, delicious food, ambience and spirit!</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/SChatterjee.jpeg" alt=""></div>
                                    <div class="name">S Chatterjee</div>
                                    <div class="designation">Trip Advisor</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">The British era bungalow, great food and charming hospitality amidst tea garden is what stands out. Thank you everyone in team Baradighi for making our stay special.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/Soumesh.jpg" alt=""></div>
                                    <div class="name">Soumesh</div>
                                    <div class="designation">Trip Advisor</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">The Baradighi Bungalow is mesmerizing. The bungalow, the decor, the linen, the furniture, the upholstery, the landscape, the staff, each and every thing in the right place.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/AniruddhaSen.jpeg" alt=""></div>
                                    <div class="name">Aniruddha Sen</div>
                                    <div class="designation">Trip Advisor</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">We had Wonderful vacation with my family, my daughter loved it. Thanks  to Baradighi, thanks Bikram and his team for make our staff memorable, we will come back soon.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/Tanushree.jpeg" alt=""></div>
                                    <div class="name">Tanushree</div>
                                    <div class="designation">MakeMyTrip</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">The stay at Baradighi Bungalow was amazing. The natural and eco-friendly surrounding and ambience is beautiful. The care taken here is really amazing.</div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/PratushaBanerjee.jpg" alt=""></div>
                                    <div class="name">Pratyusha Banerjee</div>
                                    <div class="designation">MakeMyTrip</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="inner">
                                <div class="content-box">
                                    <div class="content">
                                        <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                        <div class="text">Baradighi is exactly one of those locations where there are facilities to take care of your hospitality needs amidst pristine nature, far from crowds, noise and pollution.
                                            </div>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="image"><img loading="lazy" src="/public/imagesF/Home/TirthankarBasu.jpeg" alt=""></div>
                                    <div class="name">Tirthankar Basu</div>
                                    <div class="designation">Yatra.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <%- include('partials/footer'); -%>
